# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
target
.project
*.pyc
.gitignore.swp
__pycache__
project1/project1-python/results
project1/project1-python/code/.idea
project2/project2-python/.idea
project2/project2-python/code/.idea
project3/project3-python/.idea
project3/project3-python/code/.idea
project3/project3-python/code/results_webpage
project3/project3-python/code/vocab.npy
project4/project4-python/
project4/project4-python1/









